/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --red-color:rgb(255 0 0);
    --white-color:white ;
    --grey-color:rgb(160 160 160);
    --orange-color:rgb(255 105 0) ;
    
    
}

.display-flex {
    display: flex;
   
    
    
}

.display-flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    line-height: 50px;
    gap: 10px;
    
}

a {
    color:var(--white-color);
    text-decoration: none;
}

.a-nav-font {
    font-size: .7rem;
}
.fa-solid {
    color: var(--white-color);
    font-size: 0.5rem;
}

/*CONTAINER*/


/*HEADER*/

header {
    width: 100%;
    background-color:rgb(255 105 0) ;
    /*debug*/
    height: 50px;
    
   
}

.container-nav {
    margin: 0 auto;
    width: 780px;
    /*debug*/
    height: 50px;
    background-color: var(--white-color);
}

.items {
    width: calc(100% / 3);
   
    background-color: var(--orange-color);
}

.logo-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    
    max-width: 40%;
   
    
}






/*MAIN*/

/*container card*/

main {
    margin: 0 auto;
    margin-top: 30px;
    width: 800px;
}

.container-card {
    width: calc(100% / 3);
    padding: 10px;
    
}

.card-img {
    position: relative;
    width: 100%;
    /* width: calc(100% / 3); */
    /* padding: 10px; */
}

.img-front {
    display: block;
}

.img-back {
    display: none;
}

.box-img:hover .img-front {
    display: none;
}

.box-img:hover .img-back {
    display:block ;
}

.box-heart {
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 1.2rem;
    background-color:var(--white-color);
}

.discount {
    position: absolute;
    left:0px;
    background-color: var(--red-color);
    bottom: 30px;
    font-size: 0.5rem;
    color: var(--white-color);
    padding: 3px;
}

.sostenibilita {
    font-size: 0.5rem;
    position: absolute;
    bottom: 30px;
    left:  30px;
    background-color: green;
    padding: 3px;
    color: var(--white-color);

}

.last {
    left: 0;
}
   

h6 {
    font-size: 0.5rem;
    color: var(--grey-color); 
}

h5 {
    font-size: 0.6rem; 
}

.price {
    color: var(--red-color);
}
.crossed {
    color:black;
    margin-left: 2px;
    text-decoration: line-through;
}

footer {
    width: 100%;
    /*debug*/
    min-height: 80px;
    background-color: black;
    margin-top: 50px;
}


.items-footer {
   margin: 0 auto; 
   width: 790px;
   background-color: var(--white-color); 
}

.items-child {
    width: 50%;
    border: 1px solid black;
}

hr {
    color: var(--white-color);
}














